@tailwind base;
@tailwind components;
@tailwind utilities;
/* global */
body {
  text-align: center;
}

.container {
  padding: 0 10px;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 450px;
}


/*      Nav       */
#nav {
  color:black;
}

#nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hamburger img {
  width: 32px;
}

/*      Hero      */
.hero-image {
  background-image: url(../assets/IMG_3780.jpeg);
  height: 500px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-color: #cccccc; /* Used if the image is unavailable */

}

#hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  padding-top: 6rem;

}

/*      Projects      */
#projects {
  text-align: left;
}